@import 'minireset.css/minireset.css';

:root {
  --primary: #414C7D;
  --black: #191C38;
  --grey: #717385;
  --font-title: 'Bebas Neue', sans-serif;
  --font-standard: 'PT Mono', monospace;
  --breakpoint-mobile: 400px;
  --breakpoint-tablet: 700px;
}

html, body {
  height: 100%;
  font-family: var(--font-standard);
}

.container {
  width: 100%;
  max-width: 900px;
}


p {
  margin-bottom: 1rem;
}

a {
  color: var(--primary);
}
